@font-face {
  font-family: 'Gilroy-ExtraBold';
  src:  url('../fonts/Gilroy-ExtraBold.otf')  format('opentype'),
       url(../fonts/Gilroy-ExtraBold.woff) format('woff'), 
       url('../fonts/Gilroy-ExtraBold.ttf')  format('truetype'), 
       url('../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,body{overflow-x: hidden;}
body{
  font-family: Arial;
  font-size: 12px;
}
.text-white{color: #ffffff;}
.text-black{color: #000 !important;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    /*font-family: 'Gilroy-ExtraBold';*/
}
.section_arrow{position: relative;}
.section_arrow:before,.section_arrow:after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 16px;
  top: 100%;
  background-size: 14px 100%;
  background-position: 50%;
  z-index: 2;
}
.section{float: left;width: 100%;}
section{float: left;width: 100%;padding: 25px 0;overflow: hidden;position: relative;}
.ground {
  /*background: #fff;*/
  bottom: 0;
  height: 10%;
  left: 0;
  position: absolute;
  right: 0;
}

canvas {
 /* background-image: -webkit-gradient(linear, left bottom, left top, from(#FEFDE3), to(#120079));
  background-image: linear-gradient(0deg, #FEFDE3, #FEFDE3);*/
 /* background-color: #fff;*/
  display: block;
  height: 100vh;
  width: 100%;
  top: 0;
  left:0px;
  position: absolute;
  right: 0;
}
header.pb-header-main nav.navbar {
    border: 0;
}
header.pb-header-main nav.navbar.navbar-fixed-top {
    position: absolute;
}
.pb-header-main .navbar-header a.navbar-brand {
    height: auto;
    z-index: 1;
    position: relative;
}
.pb-header-main .navbar-nav>li>a {
  /*font-family: 'Gilroy-ExtraBold';*/
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  letter-spacing: 1px;
}
.pb-header-main .navbar-header{position: relative;}
.pb-header-main .navbar-header:before {
  content: "";
    position: absolute;
    width: 220px;
    height: 235px;
    background: #fff;
    border-radius: 50%;
    padding: 6px 8px;
    left: -75px;
    top: -60px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.32941176470588235); 
}
.navbar-brand>img {
    margin-left: -30px;
    max-width: 140px;
}
.header_bottom.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
}
.pb-main-banner {
    background-image: url(../images/banner_bg1.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(150,17,56,1) 0%, rgba(224,19,19,1) 22%, rgba(6,84,171,1) 59%, rgba(210,197,3,1) 82%, rgba(0,212,255,1) 100%);
}
.circle-wrap {
    position: relative;
    top: 24%;
    z-index: 9;
    width: 340px;
    height: 340px;
    margin: 0 auto;
}
.badge-circle-wrap {
    position: relative;
    float: left;
    width: 100%;
    z-index: 2
}
.circle-box {
    position: relative;
    width: 340px;
    height: 340px;
    background-color: transparent;
    margin: 0 auto;
    border-radius: 50%;
}
.circle-box:before {
    content: "";
    position: absolute;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    background: rgba(166, 188, 68, 0);
    border-radius: 50%;
    left: -32px;
    top: -28px;
    border: 35px solid rgba(255, 255, 255, 0.81);
    border-top: 35px solid rgba(253, 253, 253, 0.9803921568627451);
    border-bottom: 35px solid rgba(249, 249, 249, 0.8196078431372549);
    border-left: 35px solid rgba(255, 255, 255, 0.5490196078431373);
    border-right: 35px solid rgba(255, 255, 255, 0.34901960784313724);
    -webkit-animation: spinm 4s linear infinite;
    animation: spinm 4s linear infinite;
    display: none;
}

.circle-box2 {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    z-index: 3;
    position: relative;
     -webkit-box-shadow: 0px 0px 2px 2px #0501fd;
    box-shadow: 0px 0px 2px 2px #0501fd;
}
.circle-box3-inner {
    position: relative;
    background-color: transparent;
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    border-radius: 50%;
    margin: 35px auto;
}
.circle-box3.circle-box3-inner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    border: 30px solid rgba(255, 255, 255, 0.56);
    -webkit-box-shadow: 0px 0px 2px 2px #0501fd;
    box-shadow: 0px 0px 2px 2px #0501fd;
}
.circle-box4.circle-box4-inner {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    background: rgba(255, 255, 255, 0.0);
    margin: 35px;
    border-radius: 50%;
    display: block;
    position: relative;
    float: left;
     -webkit-box-shadow: 0px 0px 2px 2px #0501fd;
    box-shadow: 0px 0px 2px 2px #0501fd;
}
.circle-box2 .badge-circle-wrap .badge-circle{position: absolute;}
.circle-box2 .badge-circle-wrap .badge-circle span{color: #000;}

/*latterning*/
.circle-wrap1 .badge-circle1 {
    transform: rotate(-140deg);
    left: 30px;
    top: 264px;
    position: absolute;
}
.badge {
  position: relative;
  /*width: 400px;*/
  border-radius: 50%;
  transform: rotate(-90deg);
  background-color: transparent;
  /*font-family: 'Gilroy-ExtraBold';*/
}
.circle-wrap1 .badge-circle1 {
    transform: rotate(-128deg);
    left: 13px;
    top: 264px;
    position: absolute;
}
div#badge-circle1-1 {
    transform: rotate(-112deg);
    top: 208px;
    left: -15px;
}
.circle-wrap .badge-circle2 {
transform: rotate(-40deg);
    left: 70px;
    top: 0px;
    position: absolute;
}
.circle-wrap div#badge-circle2-1{
transform: rotate(-5deg);
    left: 152px;
    top: -35px;
}
.circle-wrap .badge-circle3 {
transform: rotate(48deg);
    right: 15px;
    top: 55px;
    position: absolute;
}
.circle-wrap div#badge-circle3-1 {
    transform: rotate(87deg);
    right: -20px;
    top: 166px;
}
.circle-wrap .badge-circle4 {
  transform: rotate(1deg);
  top: 322px;
  position: absolute;
  left: 163px;
}
.badge-circle5 {
    transform: rotate(30deg);
    top: 280px;
    left: -36px;
}
.badge-circle5  h3{
    transform: rotate(25deg);
}
.badge-circle6 {
  transform: rotate(-80deg);
  top: 128px;
  left: 22px;
}
.badge-circle7 {
  transform: rotate(-27deg);
  top: 23px;
  right: 230px;
}
.badge-circle8 {
  transform: rotate(32deg);
  right: 80px;
  top: 40px;
}
/*.badge-circle9 {
    transform: rotate(123deg);
    right: 52px;
    top: 248px;
}*/
.badge-circle9{
    /*transform: rotate(-7deg);*/
    right: 31px;
    top: 347px;
}
h3#physical>div {
    transform: rotate(-7deg);
}
h3#physical {
    transform: rotate(-25deg);
}
.badge-circle10 {
  transform: rotate(240deg);
  left: 38px;
  top: 190px;
}
.badge-circle11 {
  transform: rotate(5deg);
  right: 136px;
  top: 5px;
}
.badge-circle12 {
  transform: rotate(-10deg);
  top: 254px;
  left: 272px;
}
.badge-circle12 #willing{
  transform: rotate(-30deg);
}
div#badge-circle12 span {
    height: 120px;
    width: 18px;
}
.badge-circle13 {
    transform: rotate(-104deg);
    left: 24px;
    top: 124px;
}
.badge-circle14 {
    transform: rotate(68deg);
    right: 28px;
    top: 42px;
}
.badge-circle-wrap.badge-circle-wrap13 h3 {
    font-size: 18px;
    text-align: center;
    width: auto;
    text-transform: uppercase;
    margin-left: 25px;
    font-weight: bold;
    color: #ec141a;
    margin-top: 16px;
}
.badge-circle-wrap.badge-circle-wrap13 div#badge-circle14 h3 {
    margin-left: 90px;
}
/*.badge-circle-wrap.badge-circle-wrap13 .badge-circle {
    left: 16px;
    top: 74px;
}*/
.pb-header-main .navbar-nav>li>a{color: #fff;}

/*reverce text*/
canvas#bg {
    background: linear-gradient(90deg, rgba(150,17,56,1) 0%, rgba(224,19,19,1) 22%, rgba(6,84,171,1) 59%, rgba(210,197,3,1) 82%, rgba(0,212,255,1) 100%);
}
.circle-box2:before,.circle-box3.circle-box3-inner:before,.circle-box4.circle-box4-inner:before{
  content: "";
  -webkit-animation: spinm 9.50s linear infinite;
  animation: spinm 9.50s linear infinite;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.circle-box2:before{
  border: 35px solid rgba(255, 255, 255, 0.81);
  border-top: 35px solid rgba(253, 253, 253, 0.98);
  border-bottom: 35px solid rgba(249, 249, 249, 0.98);
  border-left: 35px solid rgba(255, 237, 19, 0.52);
  border-right: 35px solid rgba(255, 237, 19, 0.52);
}
.circle-box3.circle-box3-inner:before{
  border: 35px solid rgba(255, 255, 255, 0.81);
  border-top: 35px solid rgba(253, 253, 253, 0.98);
  border-bottom: 35px solid rgba(249, 249, 249, 0.98);
  border-left: 35px solid rgba(255, 237, 19, 0.52);
  border-right: 35px solid rgba(255, 237, 19, 0.52);
  animation: spinm 14.50s linear infinite;
}
.circle-box4.circle-box4-inner:before{
  border: 35px solid rgba(255, 255, 255, 0.81);
  border-left: 35px solid rgba(253, 253, 253, 0.98);
  border-right: 35px solid rgba(249, 249, 249, 0.98);
    border-top: 35px solid rgba(255, 237, 19, 0.82);
    border-bottom: 35px solid rgba(255, 237, 19, 0.82);
  animation: spinm 16s linear infinite;
}

/*roots*/
.roots_wrap {
  position: relative;
  max-width: 320px;
  margin: 205px auto 0;
}
.roots_wrap img{max-width: 100%;}

.circle-wrap h2 span {
  /*font: 22px Monaco, MonoSpace;*/
  height: 140px;
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  width: 12px;
  left: 0;
  text-align: center;
  top: 0;
  transform-origin: bottom center;
  color: #000;
  /*font-family: 'Gilroy-ExtraBold';*/
  text-transform: uppercase;

}
.circle-wrap h3{ font-size: 16px;color: #000;font-weight: bold;}
.circle-wrap h3 span{/*font-family: 'Gilroy-ExtraBold';*/color: #000;font-weight: bold;}
.circle-box2 .badge-circle-wrap .badge-circle span{height: 130px;}
.circle-wrap .badge-circle-wrap4 h2 span{
  transform-origin: bottom center;
}

.char1 {
  transform: rotate(4deg);
}

.char2 {
  transform: rotate(10deg);
}

.char3 {
  transform: rotate(16deg);
}

.char4 {
  transform: rotate(22deg);
}

.char5 {
  transform: rotate(28deg);
}

.char6 {
  transform: rotate(34deg);
}

.char7 {
  transform: rotate(40deg);
}

.char8 {
  transform: rotate(46deg);
}

.char9 {
  transform: rotate(52deg);
}

.char10 {
  transform: rotate(58deg);
}

.char11 {
  transform: rotate(64deg);
}

.char12 {
  transform: rotate(70deg);
}

.char13 {
  transform: rotate(76deg);
}

.char14 {
  transform: rotate(82deg);
}

.char15 {
  transform: rotate(88deg);
}

.char16 {
  transform: rotate(94deg);
}

.char17 {
  transform: rotate(100deg);
}

.char18 {
  transform: rotate(108deg);
}

.char19 {
  transform: rotate(114deg);
}

.char20 {
  transform: rotate(120deg);
}

.char21 {
  transform: rotate(126deg);
}

.char22 {
  transform: rotate(132deg);
}

.char23 {
  transform: rotate(138deg);
}

.char24 {
  transform: rotate(144deg);
}
.lt-minus .char1 {
  transform: rotate(-6deg);
}

.lt-minus .char2 {
  transform: rotate(-12deg);
}

.lt-minus .char3 {
  transform: rotate(-18deg);
}

.lt-minus .char4 {
  transform: rotate(-24deg);
}

.lt-minus .char5 {
  transform: rotate(-30deg);
}

.lt-minus .char6 {
  transform: rotate(-36deg);
}

.lt-minus .char7 {
  transform: rotate(-42deg);
}

.lt-minus .char8 {
  transform: rotate(-48deg);
}

.lt-minus .char9 {
  transform: rotate(-54deg);
}

.lt-minus .char10 {
  transform: rotate(-60deg);
}

.lt-minus .char11 {
  transform: rotate(-66deg);
}

.lt-minus .char12 {
  transform: rotate(-72deg);
}

.lt-minus .char13 {
  transform: rotate(-78deg);
}

.lt-minus .char14 {
  transform: rotate(-84deg);
}

.lt-minus .char15 {
  transform: rotate(-90deg);
}

.lt-minus .char16 {
  transform: rotate(-96deg);
}

.lt-minus .char17 {
  transform: rotate(-102deg);
}

.lt-minus .char18 {
  transform: rotate(-108deg);
}

.lt-minus .char19 {
  transform: rotate(-114deg);
}

.lt-minus .char20 {
  transform: rotate(-120deg);
}

.lt-minus .char21 {
  transform: rotate(-126deg);
}

.lt-minus .char22 {
  transform: rotate(-132deg);
}

.lt-minus .char23 {
  transform: rotate(-138deg);
}

.lt-minus .char24 {
  transform: rotate(-144deg);
}
/*radiant style*/
.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-perspective: 120;
          perspective: 400;
}

.plane {
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(60deg) rotateZ(-30deg);
          transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 60s infinite linear;
          animation: rotate 40s infinite linear;
}
.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 85px rgba(255, 0, 0, 0.85), inset 0 0 85px rgba(255, 255, 255, 0.85);
}
.plane.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: transparent;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px transparent;
}
.plane.main .circle::before {
  -webkit-transform: translateZ(-90px);
          transform: translateZ(-90px);
}
.plane.main .circle::after {
  -webkit-transform: translateZ(90px);
          transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
  -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
          transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
  -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
          transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
  -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
          transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
  -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
          transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
  -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
          transform: rotateZ(360deg) rotateX(63.435deg);
}
.container_circle {
  animation: spin 10s linear infinite;
}
.circle-box-rotate{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent;
    border: 30px solid rgba(255, 255, 255, 0.81);
    border-radius: 50%;
}

/*bottom header*/
.header_bottom {
    background-color: #fff;
}
.header_bottom nav.navbar {
    border: 0;
    background: transparent;
    text-align: center;
    margin-bottom: 0;
}
.header_bottom ul.nav.navbar-nav {
    width: 100%;
}
.header_bottom ul.nav.navbar-nav>li {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.header_bottom ul.nav.navbar-nav>li a {
  /*color: #d12a2d;*/
  /*font-family: 'Gilroy-ExtraBold';*/
  text-transform: uppercase;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
 /* border-top: 3px solid #d12a2d;
  border-bottom: 5px solid #d12a2d;*/
  margin-right: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header_bottom ul.nav.navbar-nav>li.active a, .header_bottom ul.nav.navbar-nav>li a:hover{
  /*background: #d12a2d;*/
  /*border-top: 3px solid #ffffff;*/
  /*border-bottom: 5px solid #ffffff;*/
  /*color: #fff;*/
}
.header_bottom{position: relative;}
/*.header_bottom:before {
  background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #ffffff), color-stop(0.25, #ffffff));
  background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%), linear-gradient(225deg, #fbfbfb 25%, transparent 25%);
}*/
/*}*/
/*.header_bottom:after {
  background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #721060), color-stop(0.25, #721060));
  background-image: linear-gradient(135deg, #721060 25%, transparent 25%), linear-gradient(225deg, #721060 25%, transparent 25%);
}*/
.header_bottom ul.nav.navbar-nav>li.navbar-brand.logo {
    height: auto;
    width: 125px;
    position: relative;
    z-index: 3;
    padding: 0;
}
.header_bottom ul.nav.navbar-nav>li.navbar-brand.logo a.navbar-brand {
width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    padding: 5px;
    position: absolute;
    left: 0;
    top: -52px;
    border: 0;
}
.header_bottom ul.nav.navbar-nav>li.navbar-brand.logo a.navbar-brand img {
    max-width: 90%;
    margin: 0 auto;
}


.intergal-bg:before {
background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #a5be24), color-stop(0.25, #a5be24));
    background-image: linear-gradient(135deg, #a5be24 25%, transparent 25%), linear-gradient(225deg, #a5be24 25%, transparent 25%);
}
.intergal-bg:after {
    background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #a6bf25), color-stop(0.25, #a5bf28));
    background-image: linear-gradient(135deg, #a5be24 25%, transparent 25%), linear-gradient(225deg, #a6bf26 25%, transparent 25%);
}
.intergal-bg{
  /*background-image: url(../images/green_bg.jpg);*/
  background:#fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.intergal-head{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.intergal-box h2{
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}
.intergal-box p, .our-aspiration-text li{
  font-size: 18px;
  color: #000;
  text-align: justify;
}
.flex-row-center{
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  align-items: center;
}
h2{font-size: 24px;font-weight: bold;}
/*about us*/
.section-about{
  position: relative;
}
.section-about-bg{
    /*background-image: url(../images/pattern2.jpg);*/
  background:#f4f3f3; 
  background-repeat: no-repeat;
  background-size: cover;
  /*background: #25215a;*/
}
.section-about:before {
    /*content: "";*/
    width: 44%;
    /*height: 100%;*/
    /*background: #fff;*/
    position: absolute;
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 53%;
    bottom: 0px;
    border-bottom-left-radius: 3%;
}
.intergal-img{
  height: 210px;
}
.our-aspiration{
  height: 250px;
}
.team-img{
  height: 250px;
}
.intergal-img img {
  background: #fff;
  border-radius: 50%;
  padding: 4px;
  object-fit: contain;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 1px 7px 0px #000;
  -webkit-box-shadow: 0px 1px 7px 0px #000;
}
.our-aspiration img, .team-img img{
  object-fit: contain;
  height: 100%;
  max-width: 100%;
}
.about-text-box h2{
  color: #2c4b25;
}
  .about-text-box p{color: #000;}
.about-text-box p{text-align: justify;}
.about-text-box h2 {
    margin-top: 0;
}
.about-text-box p{font-size: 18px;}
.about-circular-box-wrap .circular-box {
    float: left;
    padding: 10px;
    position: relative;
}
.about-circular-box-wrap .circular-box img {
    border-radius: 50%;
    height: 130px;
    object-fit: cover;
}
.about-circular-box-wrap .circular-box1 img{
 border: 3px #a6bf25 solid;
 padding: 3px;
}
.about-circular-box-wrap .circular-box2 img{
 border: 3px #d43e2d solid;
 padding: 3px;
}
.about-circular-box-wrap .circular-box3 img{
 border: 3px #582e0b solid;
 padding: 3px;
}
.about-circular-box-wrap .circular-box4 img{
 border:3px #385230 solid;
 padding: 3px;
}
.about-circular-box-wrap {
    position: relative;
    float: left;
    margin-left: 130px;
    top: 15px;
}
/*.about-circular-box-wrap:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 50%;
    left: -30px;
    top: -30px;
}*/
/*aprroach section*/
.section-aprroach{
  position: relative;
}
/*.section-aprroach:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 46%;
    background: #fff;
    left: 0;
    bottom: 0px;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 5px solid #ed7d31;
    border-right: solid 5px #a5a5a5;
    border-bottom: 5px solid #ffc000;
    border-left: 5px solid #4472c4;
}*/
.section-aprroach-bg{
    /*background-image: url(../images/green_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    padding-top: 0px;
}
.section-aprroach-bg *{
  color: #ffffff;
}
.section-aprroach h2{margin-top: 5px;}
.heading-box{
  margin-bottom: 40px;
}
/*.heading-box h2{
  color: #a5be24;
}*/
.heading-box p{
  font-size: 22px;
  max-width: 550px;
  margin: 15px auto;
}
.approach-box-circle {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 20px auto;
}
.approach-box-circle:before {
    /*content: "";
    border: 12px solid #ddd;
    position: absolute;
    border-radius: 50%;
    width: 265px;
    height: 265px;
    border-left-color: #a8bb34;
    border-right-color: #325331;
    border-top-color: #cc3c2e;
    border-bottom-color: #572c12;*/
    /*border-left-color: #4472c4;
    border-right-color: #a5a5a5;
    border-top-color: #ed7d31;
    border-bottom-color: #ffc000;*/
    /*background: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(45deg);*/
    content: "";
    border: 12px solid #ddd;
    position: absolute;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border-left-color: #a8bb34;
    border-right-color: #325331;
    border-top-color: #cc3c2e;
    border-bottom-color: #572c12;
    background: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(45deg);
}
.approach-box-circle div[class*="approach-box"] {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    float: left;
    color: #fff;
    position: absolute;
    display: block;
}
.approach-box-circle div[class*="approach-box"] p {
    font-size: 17px;
    margin: 25px 0;
}
.approach-box-circle .approach-box1{
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -40px;
  /*background-color: #ed7d31;*/
  background-color: #cc3c2e;
}
.approach-box-circle .approach-box2 {
    right: -40px;
    top: 86px;
    /*top: 100px;*/
    background-color: #325331;
}
.approach-box-circle .approach-box3 {
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color:#572c12;
}
.approach-box-circle .approach-box4 {
    left: -40px;
    /*top: 100px;*/
    top: 86px;
    background-color: #a8bb34;
}
.approach-box-circle:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url(../images/logo_main.png);
  background-size: 121px;
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  top: 60px;
  background-color: #ffffff;
  box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.32);
}
/*.approach-box-text {
    margin: 65px 0;
}*/
.approach-box-text p{
  font-size: 18px;
}
.approach-box-text ul li {
    font-size: 18px;
    /*font-weight: bold;*/
    margin-bottom: 10px;
}
/*offering section*/
.section-offering-bg{
  background-color: #f4f3f3;
}
.section-offering{position: relative;}
.section-offering:before{
  /*content: "";*/
  /*width: 44%;*/
  height: 100%;
  /*background: #fff;*/
  position: absolute;
  right: 0;
  border-top-left-radius: 45%;
  border-bottom-right-radius: 45%;
  bottom: 0px;
  border-bottom-left-radius: 3%;
}
.section-offering-bg *{color: #000;}
.offering-box-left h2{
  color: #2c4b25;
}
.circular-row * {
    color: #fff;
}
.section-offering .heading-box p {
    font-size: 18px;
    max-width: 600px;
    margin: 15px auto;
}
.row.circular-row {
    /*max-width: 335px;*/
    margin: 0 auto;
    position: relative;
    padding: 5px 0 15px 0;
}
.row.circular-row:before {
    /*border: 8px solid #e1ebf4;*/
    border: 30px solid #ffc000;
    position: absolute;
    width: 280px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
    top: 64px;
    display: none;
}
.circular-row .offering-box {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/offeringcircle.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.25);
}
.circular-row .offering-box h3 {
  color: #000;
  padding-top: 25px;
  font-size: 16px;
  line-height: 23px;
}
.circular-row div[class*="col-"] {
    margin-bottom: -35px;
    padding: 0;
}
.circular-row div[class*="col-"]:first-child {
    /*width: 100%;*/
    text-align: center;
    margin-top: 0;
}
.circular-row div[class*="col-"] h4{
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}
#offeringSubHead1 {
    position: relative;
    left: 0;
    right: 0;
    top: -5px;
    transform: rotate(2deg);
}
#offeringSubHead2,#offeringSubHead3{
  letter-spacing: 2px;
}
#offeringSubHead2 {
    transform: rotate(-1deg);
    position: relative;
    left: 0;
    right: 0;
    letter-spacing: 0;
    top: 3px;
}
#offeringSubHead3 {
    position: relative;
    top: -5px;
    transform: rotate(-1deg);
    /*left: 13px;*/
    letter-spacing: 0px;
}
.offering-box-left p{font-size: 18px; text-align: justify;}

/*testimonials*/
.testimonials-bg{background-color: #fff;}
.testimonials-box {
    background-color: #ffffff;
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.18823529411764706);
}
.testimonials-box {
    background-color: #ffffff;
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.18823529411764706);
}
.section-testimonials{padding-bottom: 60px;}
.section-testimonials h2{margin-top: 0;}
.section-testimonials .heading-box{margin-bottom: 25px;}
.testimonials-bg .heading-box{color: #000;}
.testimonials-box{background-color: #ffffff;position: relative;min-height: 210px;}
.testimonials-row div[class*="col-"]{margin-bottom: 20px;}
.testimonials-box .testi-icon {
  position: absolute;
  background: #ffffff;
  color: #ffc000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  border: 2px solid #ffc000;
  top: -10px;
  left: -16px;
  font-size: 18px;
}
.testimonials-box h3.testi-name {
  display: inline-block;
  margin: 0;
  background: #ffc000;
  color: #ffffff;
  padding: 3px 32px;
  font-size: 18px;
  border-bottom-right-radius: 45px;
  border: 2px solid #ffc000;
  margin-left: 0px;
}
.testimonials-box .testi-text {
    padding: 8px 20px 0 20px;
    font-size: 18px;
}
.testimonials-box .testi-video{
  padding: 10px 10px 5px 10px;
}
.testi-text iframe{max-width: 100%;width: 100%;border-radius: 8px; }
a.btn.btn-assess {
  background: #721060;
  color: #ffffff;
  /*font-family: 'Gilroy-ExtraBold';*/
  padding: 14px 40px;
  border-radius: 45px;
  font-size: 18px;
  border: 2px solid #721060;
}
a.btn.btn-assess:hover{
  background: #ffffff;
  color: #721060;
}
a.btn.btn-about {
  background: #26451f;
  color: #fff;
  font-size: 15px;
  /*font-family: 'Gilroy-ExtraBold';*/
  padding: 8px 25px;
  border-radius: 35px;
  margin-top: 10px;
  border: 1px solid #26451f;
}
a.btn.btn-about:hover{
  color: #fff;
  background: #000;
}
a.btn.btn-testimonials{
  background: #26451f;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 35px;
  margin-top: 10px;
  border: 1px solid #26451f;
}
.contact-hm-bg{
  background-color: #721060;
  padding-bottom: 65px;
}

.hm-contact-heading{margin-bottom: 20px;}
.hm-contact-heading p{font-size: 18px;}
/*.hm-contact-heading *{color: #ffffff;}*/
.hm-contact-heading h2{margin-top: 0;}
.hm-contact-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    min-height: 410px;
}
.hm-contact-box .form-control{border-radius: 20px;border-color: #721060}
.hm-contact-box ul li a {
    color: #d12a2d;
    text-decoration: underline;
}
.hm-contact-box ul li {
    margin-bottom: 10px;
}
.hm-contact-box p, .hm-contact-box ul li {
    color: #000;
    font-size: 16px;
}
button.btn.btn-default {
    background: #721060;
    color: #fff;
    font-size: 18px;
    /*font-family: 'Gilroy-ExtraBold';*/
    text-transform: uppercase;
    padding: 8px 40px;
    border-radius: 25px;
}

.fb-feed{height: 340px;overflow-y: auto;}
.fb-feed img{max-width: 100%;}
.hm-contact-box .form-control {
    border-radius: 20px;
    border-color: #721060;
    box-shadow: none;
    outline: none;
    border-width: 2px;
    padding: 8px 15px;
    height: 45px;
}
.hm-contact-box textarea.form-control{height: 200px;}
.fb-feed-box {
    background: #fff;
    float: left;
    padding: 0 15px 15px;
    border-radius: 10px;
}
.hm-contact-heading h3 {
    margin-top: 0;
}

.facade {
    display: block;
    position: fixed;
    height: 100%;
    z-index: 0;
    top: 0px;
    left: 0px;
    right: 1280px;
/*    background: #2B2ACE;
    background: #231d0f;
    background: #fff;*/
        width: 625px;
    right: initial;
    left: -5%;
}
.facade .lotus {
      display: block;
    position: absolute;
    width: 100%;
    margin: auto auto;
    bottom: -75px;
    left: -36px;
    right: 0px;
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
    opacity: .05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
    -moz-opacity: 0.05;
    -khtml-opacity: 0.05;
}
/*upcoming events*/
.upcoming-events-bg{ background-color: #25215a;}
.upcoming-events-bg .hm-contact-heading{color: #ffffff;margin-bottom: 30px}
.upcoming-box{background: #ffffff;border-radius: 10px;padding: 15px;min-height: 345px;}
.upcoming-box img{max-width: 100%;margin-top: -22px;}
.btn.btn-register{
    background: #721060;
    color: #fff;
    font-size: 18px;
    /*font-family: 'Gilroy-ExtraBold';*/
    text-transform: uppercase;
    padding: 8px 40px;
    border-radius: 25px;
    margin-top: 15px;
}
.upcoming-box h4{margin-top: 0;}
.upcoming-box p{font-size: 16px;}
.upcoming-box p.date{font-size: 16px;font-weight: bold;}
/*footer*/
.footer{position: relative;}
.footer-bg{
  /*background-image: url(../images/green_bg.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 170px;
}
.footer-bottom.section {
    padding-bottom: 20px;
}
.footer-top{background-color:#f4f3f3;padding: 20px 0;}
.footer-social-link li{list-style-type: none;display: inline-block;}
.subscribe-newslatter{position: relative;}
.subscribe-newslatter input{width: calc(100% - 120px);}
.subscribe-newslatter .btn-newslatter{position: absolute;right:0;float: left;top: 0;}
.footer-social-link {
    margin: 0;padding: 0;
}
.btn{ transition: all ease-in-out 0.4s;}
.footer-social-link li a {
    display: block;
    padding: 5px 5px;
    /*background: #fff;*/
    font-size: 25px;
    width: 45px;
    text-align: center;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    color: #721060;
    transition: all ease-in-out 0.4s;
}
/*.footer-social-link li a:hover*/
.btn.btn-register:hover,.btn.btn-default:hover {
    background: #721060;
    color: #fff;
}
.section.footer-logo {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    max-width: 150px;
    z-index: 1;
    top: 10px;
}
.section.footer-logo img {
    background: #fff;
    max-width: 100%;
    /*width: 125px;*/
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.45);
}
.footer-text{text-align: justify;}
.footer-bottom .col-left{padding-right: 90px;}
.footer-bottom .col-right{padding-left: 90px;}
.subscribe-newslatter {
    padding-left: 75px;
}
.footer-bottom *{color: #000;}
.footer-bottom p,.footer-bottom address, .footer-bottom ul li{font-size: 16px;}
.footer-bottom a{color: #721060}
.footer-text a{text-decoration: underline;}
.subscribe-newslatter input {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: auto;
    padding: 10px 20px;
    border: 0;
    box-shadow: none;
    outline: none;
    border: 2px solid #a6bf25;
}
.subscribe-newslatter .form-group {
    margin: 0;
}
.btn.btn-newslatter {
  color: #fff;
  border: 2px solid #a5be25;
  background: #a5be25;
  font-size: 16px;
  text-transform: uppercase;
  /*font-family: 'Gilroy-ExtraBold';*/
  padding: 9px 18px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.btn.btn-newslatter:hover {background: #ffffff;color: #a5be25;}
ul.contact-items {
  padding: 0;
  font-size: 18px;
  margin: 10px 0px 0px 90px
}
ul.contact-items li {
    list-style-type: none;
    margin-bottom: 5px;
}
ul.contact-items li a {
    text-decoration: none;
    font-size: 18px;
}
ul.contact-items li a i {
    margin-right: 10px;
}
.section-intergal.intergal-padding {
    padding-top: 100px;
}
.header_bottom{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header_bottom ul.nav.navbar-nav>li.navbar-brand.logo a.navbar-brand,.header_bottom.fixed ul.nav.navbar-nav>li a{
    -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header_bottom.fixed ul.nav.navbar-nav>li.navbar-brand.logo a.navbar-brand{width: 85px;height: 85px;}
.header_bottom.fixed{
    /*-webkit-animation-name: stickySlideDown;
          animation-name: stickySlideDown;
  padding: 0;*/
  -webkit-transition: none;
  transition: none;
}
.header_bottom.fixed ul.nav.navbar-nav>li a{
  padding-top: 7px;
  padding-bottom: 7px;
}
.scolldown {
    position: absolute;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10px;
}
.scolldown button {
    border: 0;
    background: transparent;
    padding: 0;
    outline: none;
}
.header_bottom .assess-li {
    width: 145px;
    margin: 0 !important;
}
.header_bottom .assess-li .btn.btn-assess{
width: 145px;
    padding: 13px 5px !important;
    white-space: inherit;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: -40px;
    background: #d12a2d;
    border: 0;
    height: 85px;
    border-radius: 50%;
    padding-top: 15px;
    z-index: 99;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    margin: 0;
    animation:assessBg 5s;
    -moz-animation:assessBg 5s infinite; /* Firefox */
    -webkit-animation:assessBg 5s infinite; /* Safari and Chrome */
}

/*offering*/
.square-box {
  border: 10px solid #ffff;
  width: 180px;
  float: right;
}
.intergal-text-box *{color: #ffffff;}
.intergal-text-box p, .intergal-text-box ul li {
    font-size: 17px;
}
.brown-bg{background-color: #582e07;}
.img-box img {
    max-width: 100%;
}
.img-box {
    margin-top: 30px;
}
.section-text-content *{color: #ffffff;}
.intergal-text-box ol{list-style-type:lower-alpha;margin-left: 30px;}
.right_heading{margin-bottom: 20px;}
.owl-carousel.owl-carousel-offering .owl-nav button[class*="owl-"] {
    position: absolute;
    top: 50%;
    background: #a6bf25e3 !important;
    width: 35px;
    height: 35px;
    z-index: 999;
    border-radius: 50%;
}
.owl-carousel.owl-carousel-offering .owl-nav button[class*="owl-"] span {
    font-size: 35px;
    color: #fff;
    position: relative;
    top: -10px;
    font-weight: bold;
}
.owl-carousel.owl-carousel-offering .owl-nav button.owl-next {
    right: -15px;
}
.owl-carousel.owl-carousel-offering .owl-nav button.owl-prev {
    left: -15px;
}
.intergal-bg .owl-carousel.owl-carousel-offering .owl-nav button[class*="owl-"]{
  background: #582e07 !important;
}

/*offering v3*/
.pb-100{padding-bottom: 100px !important;}
.section_offering_v3{
  background: #fbfbfb;
  padding-bottom: 10px;
  padding-top: 10px;
}
.row.offering_v3-row {
    display: flex;
    flex-wrap: wrap;
}

.offering_v3-row a{color: #333;font-weight: normal;text-decoration: none;
    display: block;
    position: relative;
    height: calc(100% - 65px);
   
}
.row.offering_v3-row a .offering_v3-box {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.offering_v3-row.offering_v3-col-5 div[class*="col-"] {
    width: 20%;
}
.offering_v3-row h4{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.offering_v3-box {
  background: #fff;
  padding: 10px 25px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 3px 6px -1px #0000005c;
  position: relative;
  margin-top: 65px;
  padding-top: 35px;
  transition: all ease-in-out 0.4s;
}
.circle_offv3 {
  width: 75px;
  margin: 0 auto;
  border: 2px solid #4caf50;
  border-radius: 50%;
  height: 75px;
  overflow: hidden;
  position: absolute;
  top: -42px;
  background: #fff;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 6px -2px #000;
}
.circle_offv3 img {
  width: 60px;
  position: relative;
  top: 16px;
}
.offering_v3-box:hover{
  background: #4caf50;
}
.offering_v3-box:hover h4{color: #ffffff;}
.section-page_bg {
    background-image: url(../images/offering/koral10.jpg);
    padding: 50px 0;
    background-position: center bottom;
    height: 440px;
}
/*.section-page_bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000000ad;
    position: absolute;
    top: 0;
}*/
.section-page_bg h1 {
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2.second_head {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
h2.second_head:before {
    border-bottom: 3px solid #4caf50;
    content: "";
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -7px;
}
h2.second_head:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #4caf50;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -11px;
    transform: rotate(45deg);
}
.offering-banner_head {
    max-width: 600px;
    padding: 40px 0;
}
.offering-banner_head h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.offering-banner_head p {
    font-size: 18px;
    line-height: 20px;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: normal;
    line-height: 30px;
}
.offering-tab-wrap ul.nav:after {
    position: absolute;
    background: #edeef1;
    height: 100%;
    width: 2px;
    display: block;
    position: absolute;
    right: 15px;
    content: "";
    top: 15px;
}
.offering-tab-wrap ul.nav li{
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 2px solid #edeef1;
}
.offering-tab-wrap ul.nav li a {
    font-size: 25px;
    color: #0a0b26;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 700;
    padding: 15px 15px;
    height: 48px;
    overflow: hidden;
    transition: all ease-in-out 0.4s;
}
.offering-tab-wrap ul.nav li a span {
    position: relative;
    top: -24px;
    transition: all ease-in-out 0.4s;
}
.offering-tab-wrap ul.nav li.active a img {
    position: relative;
    top: -51px;
    transition: all ease-in-out 0.4s;
}
.offering-tab-wrap ul.nav li.active a,
.offering-tab-wrap ul.nav li.active a:focus,
.offering-tab-wrap ul.nav li.active a:active,
.offering-tab-wrap ul.nav li a:hover,.offering-tab-wrap ul.nav li a:focus {
    color: #d12a2d;
    background: transparent;
}
.offering-tab-wrap ul.nav li a img {
    margin-right: 15px;
    margin-top: 5px;
    position: relative;
    top: -10px;
    transition: all ease-in-out 0.4s;
}
.offering-tab-box h2 {
    color: #d12a2d;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 700;
    font-size: 25px;
}
.offering-tab-box p.small-big {
    font-size: 18px;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 700;
}
.offering-tab-box p, .offering-tab-box ul li {
    font-size: 15px;
}
.offering-tab-box ul{
  padding: 0;
  list-style-type: none;
}
.offering-tab-box ul li {
    margin-bottom: 6px;
    padding-left: 20px;
    position: relative;
}
.offering-tab-box ul li:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    position: absolute;
    left: 0;
    top: 3px;
    font-weight: bold;
}
.img-of-box {
    margin-top: 65px;
}
.img-of-box img {
    max-width: 100%;
}
.offering-tab-wrap ul.nav>li>a i.fa {
    position: absolute;
    right: 10px;
}
ul.pb-nav-dropdown {
    padding: 0;
    list-style-type: none;
}
.offering-tab-wrap ul.nav ul.pb-nav-dropdown{display: none;}
.offering-tab-wrap ul.nav li.active ul.pb-nav-dropdown.open{display: block;}
.offering-tab-wrap ul.nav ul.pb-nav-dropdown li{
  position: relative;
  padding-left: 10px;
}
.offering-tab-wrap ul.nav ul.pb-nav-dropdown li:before{
  display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    position: absolute;
    left: 12;
    top: 10px;
    font-weight: bold;
}
.offering-tab-wrap ul.nav ul.pb-nav-dropdown li:last-child {
    border: 0;
}
.offering-tab-wrap ul.nav ul.pb-nav-dropdown li a{
    padding: 8px 15px;
    height: auto;
}
.offering-tab-wrap ul.pb-nav-dropdown li a {
    font-size: 14px;
    color: #000 !important;
    display: block;
    padding-right: 2px;
}
.offering-tab-wrap ul.nav li.active li.active a {
    color: #d12a2d !important;
}

@-moz-keyframes assessBg {
  0%   {background:#d12a2d;}
  100%   {background:#a4bd23}
}
 
@-webkit-keyframes assessBg {
  0%   {background:#d12a2d;}
  100%   {background:#a4bd23}
}


@-webkit-keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*responsive*/
@media only screen and (max-width: 767px){
    .navbar-brand>img {
      margin-left: -5px;
      max-width: 100px;
      margin-top: -5px;
  }
  .pb-header-main .navbar-header:before{
    width: 215px;
    height: 180px;
    left: -92px;
    top: -45px;
  }
  ul.nav.navbar-nav.navbar-right {
    display: none;
  }
  .gallery_box li{
    top: 0px !important;
    height: auto !important;
  }
}
@media (min-width: 768px){
  .gallery_box li{
    top: 0px !important;
    height: auto !important;
  }
}



@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@-webkit-keyframes ray_anim { 
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}
@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 

}

@-webkit-keyframes spinm {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinm {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/***Event css***/
.trans_header {
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
}
.trans_header.header_bottom ul.nav.navbar-nav>li>a {
    color: #fff;
    border: 0;
    background: transparent;
}
.trans_header.header_bottom:after,.trans_header.header_bottom:before{
display:none;
}
.trans_header.header_bottom ul.nav.navbar-nav>li.navbar-brand.logo a.navbar-brand img {
    position: relative;
    top: 5px;
}
.trans_header.header_bottom.fixed {
    background: #fff;
    box-shadow: 0px -11px 14px 3px rgb(0 0 0 / 77%);
}
.trans_header.header_bottom.fixed ul.nav.navbar-nav>li>a{
	color: #000;
}
.section-event_bg {
    background-image: url(../images/event/eventsBg.jpg);
    padding-top: 180px;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    background-size: cover;
}
.section-event_bg *{color:#fff;}
.event-banner_head p {
    margin-bottom: 0;
    font-size: 22px;
}
.event-banner_head h1 {
    margin-top: 10px;
}



.event-list_head {
    margin-bottom: 30px;
}
.event-list_head p {
    font-size: 17px;
}
.grid-item {
    height: auto;
}
.grid-item {
    margin-bottom: 30px;
}
.event-teaser {
    position: relative;
    display: flex;
    margin-bottom: 30px;
    padding: 30px 25px;
    background-color: #f6f6f6;
    border-radius: 10px;
}
.product-teaser {
    position: relative;
    overflow: hidden;
}
.grid-item .event-teaser {
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
}
.grid-item .event-teaser .event-image {
    max-width: 100%;
    margin-right: 0;
}
.event-teaser .event-image .field-field-image {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.grid-item .event-teaser .event-image .field-field-image {
    border-radius: 0;
}
.event-teaser .event-content-wrap {
    position: relative;
    width: 100%;
    margin-right: 30px;
}
.grid-item .event-teaser .event-content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-right: 0;
}
.grid-item .event-teaser .event-content-wrap * {
    color: #ffffff;
}
.grid-item .event-teaser .event-content-container {
    display: table;
    width: 100%;
    height: 100%;
}
.grid-item .event-teaser .event-content {
    display: table-cell;
    vertical-align: middle;
}
.event-teaser .event-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-right: 60px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}
.grid-item .event-teaser .event-title {
    font-size: 15px;
    padding: 10px 0;
}
.event-teaser .event-price {
    position: absolute;
    right: 0;
    top: 0;
    color: #8546c9;
    font-size: 24px;
    font-weight: 500;
}
.grid-item .event-teaser .event-price {
    top: -30px;
}
.grid-item .event-teaser .event-meta {
    display: block;
}
.event-teaser .event-venue, .event-teaser .event-location {
    display: inline-block;
}
.event-teaser .event-venue-wrap, .event-teaser .event-date-wrap, .event-teaser .event-time {
    width: 100%;
}
.event-teaser .event-time, .event-teaser .event-venue-wrap {
    padding-top: 5px;
}
.grid-item .event-teaser .event-venue-wrap, .grid-item .event-teaser .event-date-wrap, .grid-item .event-teaser .event-time {
    max-width: 100%;
    float: left;
}

.grid-item .event-date {
    line-height: 1.1;
}
.event-teaser .event-date-day {
    font-size: 35px;
    font-weight: 300;
    float: left;
    line-height: 1;
    margin-right: 7px;
}
.grid-item .event-teaser .event-venue {
    display: none;
}
.grid-item .event-teaser .event-date-day {
    font-weight: 500;
}
.event-teaser .event-date span {
    display: block;
    line-height: 1.2;
}
.event-teaser .event-date-month {
    text-transform: uppercase;
}
.event-teaser .event-button {
    position: relative;
}
.grid-item .event-teaser .event-button {
    position: absolute;
    bottom: 5px;
    right: 15px;
    transition: 0.3s;
    transform: translateY(125%);
}
.grid-item .event-teaser .event-button .button {
    margin: 0;
    padding-top: 17px;
    padding-bottom: 17px;
}

.btn.btn-primary{
    margin: 0;
    padding-top: 17px;
    padding-bottom: 17px;
}
.grid-item .btn, .grid-item .button, .grid-item input[type="submit"], .btn-primary {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 10px 0;
    outline: 0 none;
    padding: 20px 30px;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    position: relative;
    white-space: nowrap;
    transition: 0.3s;
    background-color: #a5be25;
    overflow: hidden;
}
.grid-item img {
    max-width: 100%;
    height: auto;
}
.grid-item .event-teaser .event-image a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #a5be25;
    opacity: 0.7;
    transition: 0.3s;
}
.grid-item .event-teaser:hover .event-image a:after {
    opacity: 0;
}
.grid-item .event-teaser:hover .event-button {
    transform: translateY(0%);
}

/**blog css**/

.post-row {
    margin-bottom: 40px;
}
.blog-post-teaser {
    position: relative;
    overflow: hidden;
}
.blog-post-teaser .post-thumb {
    transition: 0.5s;
    min-height: 120px;
    position: relative;
    overflow: hidden;
}
.post-image img, .post-thumb img {
    width: 100%;
    height: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.blog-post-teaser .post-thumb:hover img {
    transform: scale(1.02,1.02);
}
.blog-post-teaser .post-content-wrap {
    position: absolute;
    z-index: 1;
    left: 30px;
    bottom: 0;
    padding: 10px 10px 10px 15px;
}
.blog-post-teaser .content-wrap {
    padding: 10px 15px 10px 35px;
    position: relative;
    line-height: 1;
}
.blog-post-teaser .content-wrap:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
    background-color: #000000;
    opacity: 0.6;
    border-radius: 50px 10px 0 50px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.blog-post-teaser .content-wrap * {
    color: #ffffff;
}
.blog-post-teaser .post-date {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: -30px;
    background-color: #a5be25;
    width: 55px;
    height: 55px;
    padding: 10px 5px;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    z-index: 1;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.blog-post-teaser .post-date span {
    display: block;
}
.blog-post-teaser .post-date .post-date-day {
    font-weight: 600;
    font-size: 18px;
}
.blog-post-teaser .post-date span {
    display: block;
}
.blog-post-teaser .post-date .post-date-month {
    font-size: 12px;
}
.post-meta {
    display: block;
    margin-bottom: 5px;
}
.post-meta .post-meta-item {
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
}
.post-meta .post-meta-item i {
    padding-right: 3px;
}
.post-meta-item, .post-meta-item div {
    display: inline-block;
}
.post-meta .post-meta-item:last-child {
    margin-right: 0;
}
.post-title {
    margin-bottom: 0;
}
.grid-wrapper .post-title, .grid-wrapper .post-title a {
    font-size: 14px;
    color: #ffffff !important;
}


.blog-post-teaser .post-body {
    padding: 25px 20px 30px 20px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #f6f6f6;
    border-top: none;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}
.blog-post-teaser .read-more {
    margin-top: 15px;
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
    color:#a5be25;
}
a.read-more {
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

/**counter**/
.section-counterBg{
	background-image:url(../images/blog/bg5.jpg);
 	padding-top: 80px;
    	padding-bottom: 80px;
    	background-repeat: no-repeat;
    	background-size: cover;
}
.text-light, .text-light * {
    color: #ffffff !important;
}
.section-counter .fact {
    text-align: center;
}


/***faq***/
.section-faq{
	background-color: #f7f7f7;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*Single Event Page Css*/
img{ max-width:100%;}

.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;position: relative;border:3px #fff solid;}
.gallery_box{ padding:10px 0px;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height: 304px;
}
.gallery_box li:nth-child(odd) {
    height: 438px; 
}

.event-post .event-category {
    margin-bottom: 5px;
}
.event-post .event-title, .product-post .product-title-wrap {
    /*padding-right: 115px*/;
    position: relative;
    margin-bottom: 20px;
}
.product-price {
    color: #721060;
}
.product-title {
    line-height: 1.2;
    color: #333333;
}
.product-post .field-title {
    font-size: 23px;
}
.product-post .product-price {
    font-size: 25px;
    line-height: 1.2;
}
.event-post .event-meta-wrap {
    background-color:#651f2e;
    padding: 25px 15px;
    margin-bottom: 25px;
    border: 1px #651f2e solid;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 7%);
}
.event-post .event-meta-wrap * {
    color: #ffffff;
        font-size: 15px;
}
.event-post .event-venue-wrap div {
    display: inline-block;
}
.product-post .product-variation-wrap {
    margin-top: 40px;
}

.quantity {
  position: relative;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{ -moz-appearance: textfield; }
.quantity input {
  width: 80px;
  height: 46px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding: 10px 28px 10px 20px;
  border: 1px solid #ececec;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 7%);
  background-color: #f5f5f5;
  height: 46px;
  border-radius: 30px 0 0 30px;
}
.quantity input:focus {
  outline: 0;
}
.quantity-nav {
  float: left;
  position: relative;
  height: 46px;
}
.ticket-btn{
  margin: 0;
  padding: 16px 20px !important;
  border-radius: 0 30px 30px 0;
  height: 46px !important;
  background-color: #651f2e;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  width: 100% !important;
  line-height: 1.1 !important;
  max-width: 100% !important;
  border: 0px !important;
  outline: 0;
}
.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #d2d2d2;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #d2d2d2;
}
.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
.pramotional-box{
  width: 100%;
  height: 400px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 6%);
}
.pramotional-box iframe{
  width: 100%;
  height: 100%;
}
.pramotional-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pl-0{ padding-left: 0px;}
.pb-5{ padding-bottom: 5px; }
.mb-25{ margin-bottom: 25px;}
.mt-20{ margin-top: 20px;}
.mt-0{ margin-top: 0px;}

/* Login and Signup Css */
.login-container .table {
  display: table;
  width: 100%;
  height: 100%;
}
.login-container .table-cell {
  display: table-cell;
  vertical-align: middle;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.login-container {
  position: relative;
  /*width: 600px;*/
  width: 100%;
  margin: 30px auto 0;
  height: 320px;
  background-color: #651f2e;
  top: 50%;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.login-container .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.login-container .box:before, .container .box:after {
  content: " ";
  position: absolute;
  left: 152px;
  top: 50px;
  background-color:#a5be25;
  transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
  width: 300px;
  height: 285px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow:10px 10px 10px rgb(0 0 0 / 10%);
}
.login-container .box:after {
  background-color: #a5be25;
  top: -10px;
  left: 80px;
  width: 320px;
  height: 180px;
}
.login-container .container-forms {
  position: relative;
}
.login-container .btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 0px;
  width: fit-content;
  color: #fff;
  background-color: #a5be25;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.login-container .btn:hover {
  box-shadow:10px 10px 10px rgb(0 0 0 / 10%);
  -webkit-transform: translate3d(0, -3px, 0);
  -moz-transform: translate3d(0, -3px, 0);
  -o-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}
.login-container .btn, .login-container input {
  padding: 10px 15px;
}
.login-container input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.login-container .container-forms .container-info {
  text-align: left;
  font-size: 0;
}
.login-container .container-forms .container-info .info-item {
  text-align: center;
  font-size: 16px;
  width: 50%;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.login-container .container-forms .container-info .info-item p {
  font-size: 18px;
  margin: 20px;
}
.login-container .container-forms .container-info .info-item .btn {
  background-color: #651f2e;
  border: 1px solid #fff;
  border-radius: 0px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 10%);
}
.login-container .container-forms .container-info .info-item .table-cell {
  padding-right: 35px;
}
.login-container .container-forms .container-info .info-item:nth-child(2) .table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.login-container .container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.login-container .container-form .btn {
  position: relative;
  margin-top: 30px;
}
.login-container .form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.login-container .form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.login-container.log-in .container-form {
  left: 265px;
}
.login-container.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}
.login-container.log-in .container-form .form-item.log-in {
  left: -100%;
  opacity: 0;
}
.login-container.active .form-item {
  height: 100%;
}
.rabbit {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  fill: #fff;
}
.top-100{
  top:100px;
}
.log-reg-close{
  position: absolute;
  background: #fff;
  z-index: 999;
  top: -60px;
  right: 0px;
  opacity: 1;
  width: 28px;
  height:28px;
  color: #651f2e;
  outline: 0;
  border: 1px #fff solid;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 10%);
}
/*Product page css*/
.custom-text-number input[type="number"] {
  outline: none;
  -moz-appearance: textfield;
}
.custom-text-number input[type=number]::-webkit-inner-spin-button, 
.custom-text-number input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  appearance: none;
}
.image-viewer {
  margin: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
    width: 360px;
    height:450px;
    margin:auto;
}
.image-viewer .main-image {
      width: 100%;
    height: 300px;
  align-self: center;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.image-viewer .main-image img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 6%);
}
.image-viewer .secondary-images {
  align-self: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
              width: 100%;
    height: 200px;
}
.image-viewer .secondary-images .secondary-image {
  padding: 6.25px;
  height: 120px;
}
.image-viewer .secondary-images .secondary-image img {
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}
.product-title a{
  color:#721060 !important;
}
.description p {
  font-size: 18px;
  color: #a2a2a2;
  margin:10px 0px 20px 0px;
}
.product-price{
  font-size: 40px;
  font-weight: 100 !important;
  line-height: 44px;
  letter-spacing: 0px;
  color: #000000;
  text-align: left;
  margin:20px 0px 10px 0px;
}
.add-to-cart-btn{
  margin: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 15.6px;
    letter-spacing: 0.7px;
    width: 207px;
    color: #FFFFFF;
    background: #702436;
    border-radius: 0px;
    transition: 0.6s all ease;
}
.add-to-cart-btn:hover, .add-to-cart-btn:focus{
  background:#a4bc23 !important;
}
.ui-widget.ui-widget-content{
  padding: 4px;
  border-radius: 0px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 1%);
}
.m-3{
  margin:3px;
}
.rating1 i, .rating1 span{
  color: #fdbc32;
}
.pl-20{
  padding-left: 20px;
}
/*Css added by Ashvini*/
.navbar-nav>li>.dropdown-menu{padding:5px 15px;left:0;}
.dropdown-divider{border-top: 1px #9E9E9E solid;}
.navbar-nav>li>.dropdown-menu a.dropdown-item{
  /*font-family: 'Gilroy-ExtraBold';*/
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
  letter-spacing: 1px;
}
.dropdown-menu{min-width: fit-content;}
.navbar-nav>li>.dropdown-menu a.dropdown-item:hover{text-decoration: none;}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: transparent!important;
}
.banner-content-box{
  border: 1px #fff solid;
  height: 227px;
  position: relative;
  z-index: 99;
  top: -110px;
  background: #fff;
  width: 400px;
  padding: 16px;
  color: #000;
  font-size: 15px;
  text-align: left;
  float: right;
  margin-right: 65px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 7%);
}
.approach-box-sec{
  /*padding-top: 330px;*/
  padding-top: 300px;
  /*background: url(/images/wave.png) no-repeat center 0 #f2f2f2;*/
  background:url(/images/Poorna-wellbeing-Approach-diagonally.png) no-repeat center 0 #f2f2f2;
  overflow: hidden;
  /*margin-top: 50px;*/
  background-size: contain;
  width: 100%;
}
.approach-box-sec .content {
    background: #fff;
    text-align: center;
    position: relative;
    padding: 0 0 50px 0;
}
.approach-box-sec .content:before {
    content: '';
    position: absolute;
    top: -107px;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-transform: skew(0deg, 8deg);
    -moz-transform: skew(0deg, 8deg);
    -ms-transform: skew(0deg, 8deg);
    -o-transform: skew(0deg, 8deg);
    transform: skew(0deg, 8deg);
}
.about-us-box .content:before, .about-us-text, .about-us-box .content{
  background-color: #f4f3f3;
}
.approach-box-sec .container-fluid .badge {
    /*position: absolute;*/
    left: 0;
    top:-50px;
    /*top: -325px;*/
    border-radius: 100%;
    transform: rotate(0deg);
}
.approach-box-sec .content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #325331;
}
.approach-box-sec .content p {
    color: #000;
    max-width: 840px;
    margin: 0 auto 25px;
}
.poornwellbeing-model-text p{
  color: #000;
  margin-bottom: 25px !important;
  margin-left: 0px !important;
  max-width: 100% !important;
}

.approach-box-sec .content h3 strong {
    color: #003d79;
    font-size: 28px;
    margin-bottom: 20px;
}

.approach-box-sec .container-fluid {
    position: relative;
}
.approach-box-circle p{
  color: #fff !important;
}
.approach-box-text{
  text-align: left;
}
.approach-box-text ul li{
  color: #000 !important;
  list-style: none;
}
.approach-box-text ul{
  width: 575px;
  text-align: left;
  /*margin: auto;*/
}
.about-us-text ul li{
  list-style: disc;
}
.mb-25{
  margin-bottom: 25px;
}
.offering-sec{
  padding: 10px 0px;
}
.offering-sec p{
  color: #fff;
}
.btn-offer{
  border: 1px #26451f solid;
  color: #fff;
  background: #26451f;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 9%);
  font-size:18px;
  font-family: Arial;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 35px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 5px;
}
.btn-offer:hover{
  color: #fff !important;
}
.about-profile{
  /*border:1px red solid;*/
  text-align: center;
  height: 250px;
}
.about-profile img{
  height: 100%;
  max-width: 100%;
  /*box-shadow: 10px 10px 10px rgb(0 0 0 / 14%);*/
}

.banner-title{
  height: auto;
  bottom: 40px;
  z-index: 9999;
  left: 0px;
  color: #fff;
  width: 100%;
  text-align: center;
}
.banner-title h2{
  font-size: 40px;
  font-family: Arial;
}
.banner-title h4{
  font-size: 25px;
  font-weight: 500;
  font-family: Arial;
}
.mb-0{
  margin-bottom: 0px;
}
.offering-img1{
  height: 230px;
  width: 230px;
  text-align: center;
  margin: auto;
}
.offering-img1 img{
  height: 100%;
  max-width: 100%;
  border: 2px #fff solid;
}
.m-h-500{
  min-height: 500px;
}
.social-box {
  border: 1px #fff solid;
  background:#fff;
  height: 40px;
  width: 40px;
  padding: 7px;
  border-radius: 50%;
}
.social-box img {
  height: 100%;
  max-width: 100%;
  text-align: center;
  vertical-align: super;
}
.heading-color{
   color: #2c4b25;
}

/*about us page css*/
.values-circle{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background:red;
  padding:29px;
  color: #fff;
}
.values-circle h3{
  text-align: center;
  font-weight: bold;
}
.values-circle p{
  color: #fff;
  text-align: left;
  word-break:break-word;
}
.circle-1{
  background: #df412d;
}
.circle-2{
  background: #3a5a39;
}
.circle-3{
  background: #8b9c18;
}
.circle-4{
  background: #5d340f;
}
.px-15{
  padding-right: 15px;
  padding-left: 15px;
}
.text-blue{color: #3163d7;}
.text-green{color: #26451f;}
.team-title{
  padding-left: 67px;
  font-size: 18px;
  line-height: 25px;
  margin-top: 0px;
}
.client-logo-box{
  display: flex;
  position: relative;  
}
.client-logo-container{
  box-shadow: 1px 1px 15px 2px #00000085;
}
.client-logo{
  height: 140px;
  width: 228px;
  padding: 15px;
}
.client-logo img{
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.client-main-box{
  height: 150px;
  margin-top: 10px;
}
.text-brown{
  color:#763413;
}
.poornawellbeing-model-img{
  height: 400px;
}
.poornawellbeing-model-img img{
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
ul.perspective li{
  list-style: disc;
}
.bg-white{
  background:#fff !important; 
}
.perspective-diagram{
  height: 350px;
}
.perspective-diagram img{
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.overlay{
  background: rgb(255 255 255 / 44%);
  position: absolute;
  width: 100%;
  height: 100%;
}
.card{
  background: #f4f3f3;
  padding: 20px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 17%);
  border-radius: 15px;
}
.custom-input{
  background: transparent;
  border-radius: 0px;
  margin-bottom: 5px;
}
.custom-input:focus{
  box-shadow: none;
  border-color: #2c4b25;
}
.custom-text-area{
  min-height: 150px;
}
.btn-submit{
  padding: 10px 30px;
  border-radius: 15px;
  border:1px #9E9E9E solid;
  outline: 0;
  font-size: 15px;
  font-weight: bold;
}
.offset-md-1{
  margin-left: 30px;
}
.contact-icon{
  font-size: 25px;
  padding-right: 10px;
  line-height: 25px;
  color: #2c4b25;
}
.address-text{
  font-size: 22px;
  line-height: 28px;
}
.map-box{
  margin-top: 20px;
  height: 350px;
  padding: 10px;
}
.map-box iframe{
  height: 100%;
  width: 100%;
}