@font-face {
  font-family: 'Gilroy-ExtraBold';
  src:  url('../fonts/Gilroy-ExtraBold.otf')  format('opentype'),
       url(../fonts/Gilroy-ExtraBold.woff) format('woff'), 
       url('../fonts/Gilroy-ExtraBold.ttf')  format('truetype'), 
       url('../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ground {
  /*background: #fff;*/
  bottom: 0;
  height: 10%;
  left: 0;
  position: absolute;
  right: 0;
}

canvas {
 /* background-image: -webkit-gradient(linear, left bottom, left top, from(#FEFDE3), to(#120079));
  background-image: linear-gradient(0deg, #FEFDE3, #FEFDE3);*/
 /* background-color: #fff;*/
  bottom: 40px;
  display: block;
  height: 80%;
  left: 0;
  position: absolute;
  right: 0;
  /*top: 0;*/
  width: 100%;
}
header.pb-header-main nav.navbar {
    border: 0;
}
.pb-header-main .navbar-header a.navbar-brand {
    height: auto;
    z-index: 1;
    position: relative;
}
.pb-header-main .navbar-nav>li>a {
  font-family: 'Gilroy-ExtraBold';
  text-transform: uppercase;
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
}
.pb-header-main .navbar-header{position: relative;}
.pb-header-main .navbar-header:before {
    content: "";
    position: absolute;
    width: 163%;
    height: 170%;
    background: #fff;
    border-radius: 50%;
    padding: 70px 86px;
    left: -96px;
    top: -138px;
}
.pb-main-banner {
    background-image: url(../images/banner_bg1.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.circle-wrap {
    position: relative;
    top: 42%;
    z-index: 9;
    width: 260px;
    height: 260px;
    margin: 0 auto;
}
.badge-circle-wrap {
    position: relative;
    float: left;
    width: 100%;
    z-index: 2
}
.circle-box {
    position: relative;
    width: 260px;
    height: 260px;
    background-color: transparent;
    margin: 0 auto;
    border-radius: 50%;
}
.circle-box:before {
    content: "";
    position: absolute;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    background: rgba(166, 188, 68, 0.9215686274509803);
    border-radius: 50%;
    left: -32px;
    top: -28px;
}
.circle-box2 {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(227, 25, 28, 0.7490196078431373);
    z-index: 3;
    position: relative;
}
.circle-box3-inner {
    position: relative;
    background-color: #ad260f;
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    border-radius: 50%;
    margin: 35px auto;
}
.circle-box4.circle-box4-inner {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    background: #ffb100;
    margin: 35px;
    border-radius: 50%;
    display: block;
    position: relative;
    float: left;
}
.circle-box2 .badge-circle-wrap .badge-circle{position: absolute;}
.circle-box2 .badge-circle-wrap .badge-circle span{color: #fff;}

/*latterning*/
.circle-wrap1 .badge-circle1 {
    transform: rotate(-140deg);
    left: 85px;
    top: 290px;
    position: absolute;
}
.badge {
  position: relative;
  width: 400px;
  border-radius: 50%;
  transform: rotate(-90deg);
  background-color: transparent;
  font-family: 'Gilroy-ExtraBold';
}
.circle-wrap1 .badge-circle1 {
  transform: rotate(-148deg);
  left: 96px;
  top: 285px;
  position: absolute;
}
.circle-wrap .badge-circle2 {
    transform: rotate(-48deg);
    left: 42px;
    top: 42px;
    position: absolute;
}
.circle-wrap .badge-circle3 {
    transform: rotate(45deg);
    right: 70px;
    top: 12px;
    position: absolute;
}
.circle-wrap .badge-circle4 {
    transform: rotate(-209deg);
    top: 281px;
    position: absolute;
    left: 259px;
}
.badge-circle5 {
    transform: rotate(-155deg);
    top: 260px;
    left: 100px;
}
.badge-circle6 {
    transform: rotate(-83deg);
    top: 130px;
    left: 18px;
}
.badge-circle7 {
    transform: rotate(12deg);
    top: 6px;
    right: 132px;
}
.badge-circle8 {
    transform: rotate(80deg);
    right: 21px;
    top: 108px;
}
.badge-circle9 {
    transform: rotate(137deg);
    right: 55px;
    top: 232px;
}
.badge-circle10 {
  transform: rotate(-110deg);
  left: 30px;
  top: 163px;
}
.badge-circle11 {
    transform: rotate(48deg);
    right: 58px;
    top: 20px;
}
.badge-circle12 {
    transform: rotate(155deg);
    top: 185px;
    left: 180px;
}
/*roots*/
.roots_wrap {
  position: relative;
  max-width: 320px;
  margin: 205px auto 0;
}
.roots_wrap img{max-width: 100%;}

.circle-wrap h2 span {
  /*font: 22px Monaco, MonoSpace;*/
  height: 130px;
  position: absolute;
  font-size: 16px;
  width: 12px;
  left: 0;
  text-align: center;
  top: 0;
  transform-origin: bottom center;
  color: #000;
  font-family: 'Gilroy-ExtraBold';
  text-transform: uppercase;
}
.circle-box2 .badge-circle-wrap .badge-circle span{height: 145px;}
.circle-wrap .badge-circle-wrap4 h2 span{
  transform-origin: bottom center;
}

.char1 {
  transform: rotate(6deg);
}

.char2 {
  transform: rotate(12deg);
}

.char3 {
  transform: rotate(18deg);
}

.char4 {
  transform: rotate(24deg);
}

.char5 {
  transform: rotate(30deg);
}

.char6 {
  transform: rotate(36deg);
}

.char7 {
  transform: rotate(42deg);
}

.char8 {
  transform: rotate(48deg);
}

.char9 {
  transform: rotate(54deg);
}

.char10 {
  transform: rotate(60deg);
}

.char11 {
  transform: rotate(66deg);
}

.char12 {
  transform: rotate(72deg);
}

.char13 {
  transform: rotate(78deg);
}

.char14 {
  transform: rotate(84deg);
}

.char15 {
  transform: rotate(90deg);
}

.char16 {
  transform: rotate(96deg);
}

.char17 {
  transform: rotate(102deg);
}

.char18 {
  transform: rotate(108deg);
}

.char19 {
  transform: rotate(114deg);
}

.char20 {
  transform: rotate(120deg);
}

.char21 {
  transform: rotate(126deg);
}

.char22 {
  transform: rotate(132deg);
}

.char23 {
  transform: rotate(138deg);
}

.char24 {
  transform: rotate(144deg);
}
.lt-minus .char1 {
  transform: rotate(-6deg);
}

.lt-minus .char2 {
  transform: rotate(-12deg);
}

.lt-minus .char3 {
  transform: rotate(-18deg);
}

.lt-minus .char4 {
  transform: rotate(-24deg);
}

.lt-minus .char5 {
  transform: rotate(-30deg);
}

.lt-minus .char6 {
  transform: rotate(-36deg);
}

.lt-minus .char7 {
  transform: rotate(-42deg);
}

.lt-minus .char8 {
  transform: rotate(-48deg);
}

.lt-minus .char9 {
  transform: rotate(-54deg);
}

.lt-minus .char10 {
  transform: rotate(-60deg);
}

.lt-minus .char11 {
  transform: rotate(-66deg);
}

.lt-minus .char12 {
  transform: rotate(-72deg);
}

.lt-minus .char13 {
  transform: rotate(-78deg);
}

.lt-minus .char14 {
  transform: rotate(-84deg);
}

.lt-minus .char15 {
  transform: rotate(-90deg);
}

.lt-minus .char16 {
  transform: rotate(-96deg);
}

.lt-minus .char17 {
  transform: rotate(-102deg);
}

.lt-minus .char18 {
  transform: rotate(-108deg);
}

.lt-minus .char19 {
  transform: rotate(-114deg);
}

.lt-minus .char20 {
  transform: rotate(-120deg);
}

.lt-minus .char21 {
  transform: rotate(-126deg);
}

.lt-minus .char22 {
  transform: rotate(-132deg);
}

.lt-minus .char23 {
  transform: rotate(-138deg);
}

.lt-minus .char24 {
  transform: rotate(-144deg);
}
/*radiant style*/
.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-perspective: 400;
          perspective: 400;
}

.plane {
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(60deg) rotateZ(-30deg);
          transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}
.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px #ffff00, inset 0 0 60px #ffff00;
}
.plane.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: transparent;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px transparent;
}
.plane.main .circle::before {
  -webkit-transform: translateZ(-90px);
          transform: translateZ(-90px);
}
.plane.main .circle::after {
  -webkit-transform: translateZ(90px);
          transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
  -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
          transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
  -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
          transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
  -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
          transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
  -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
          transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
  -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
          transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}